// Colors
$dark: #222222;
$light: #FEF7ED;
$clr1: #6a957b;
$clr2: #ff7676;
$clr3: #ffbe1a;

// Font and Typography
$font-family-base: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$line-height-base: 1.5;
$font-weight-base: 400;

// Breakpoints
$breakpoint-xs: 390px;  // Extra small devices (phones)
$breakpoint-sm: 576px;  // Small devices (landscape phones)
$breakpoint-md: 768px;  // Medium devices (tablets)
$breakpoint-lg: 992px;  // Large devices (desktops)
$breakpoint-xl: 1200px; // Extra large devices (large desktops)

// Layout Paddings
$padding-desktop: 4rem 14rem;
$padding-tablet: 3rem 8rem;
$padding-mobile: 2rem 1rem;
$padding-smobile: 1.8rem .8rem;