@import '../../styles/variables';

.home {
    .right {
      p {
        width: 70%;
        margin-bottom: 5rem;
      }
      .cta {
        color: $clr3;
        border: none;
        width: fit-content;
        padding-left: 0;
        
      }
      @media only screen and (max-width: $breakpoint-lg) {
        p {
          width: 100%;
        }
      }
      @media only screen and (max-width: $breakpoint-sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          margin-bottom: 3rem;
          text-align: center;
        }
      }
    }
    .left{
      width: 100%;
    }
}