.home {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
}
.home .left{
    background-color: burlywood;
    
    flex: 1;
}
.home .right{
    flex: 1;
}