@import './../../styles/variables';
@import './../../styles/global';

.rootLayout{
    padding: $padding-desktop;
    height: 100vh;

    @media only screen and (max-width: $breakpoint-sm) {
        padding: 2.5rem;
    }
    @media only screen and (max-width: $breakpoint-lg) {
        padding: 2rem;
    }
}