@import './../../styles/variables';
@import './../../styles/global';

.rootLayout{
    display: flex;
    flex-direction: column;
    padding: $padding-desktop;
    height: 100vh;
    min-height: 100vh;
    
    @media only screen and (max-width: $breakpoint-lg) {
        padding: $padding-tablet;
    }
    @media only screen and (max-width: $breakpoint-sm) {
        padding: $padding-mobile;
        height: fit-content;
    }
    @media only screen and (max-width: $breakpoint-xs) {
        padding: $padding-smobile;
    }
    
}