@import '../../styles/variables';

.izao {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
        .code {
          border-color: $clr1;
        }
        .design {
          border-color: $clr2;
        }
        .visualize {
          border-color: $clr3;
        }
  }
  @media only screen and (max-width: $breakpoint-sm) {
    width: 100%;
    justify-content: flex-start;
    gap: 2rem;
    .buttons {
      flex-direction: row;
      button{
        width: fit-content;
        font-size: .9rem;
      }
    }
  }
}