@import '../../styles/variables';

.izao {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
    white-space: nowrap;

    a{
      border-radius: 50px;
      padding: 0.5em 1.2em;
      text-decoration: none;
      transition: all 0.3s ease;
      text-align: center;
    }
  
    a.code {
      border: 1px solid $clr1;
      color: $clr1;
      &:hover{
        background-color: rgba(106, 149, 123, 30%);
        color: $light;
      }
      &.active{
        background-color: $clr1;
        color: $light;
      }
    }
  
    a.design {
      border: 1px solid $clr2;
      color: $clr2;
      &:hover{
        background-color: rgba(187, 61, 60, 30%);
        color: $light;
      }
      &.active{
        background-color: $clr2;
        color: $light;
      }
    }
  
    a.manage {
      border: 1px solid $clr3;
      color: $clr3;
      &:hover{
        background-color: rgba(255, 190, 26, 30%);
        color: $light;
      }
      &.active{
        background-color: $clr3;
        color: $dark;
      }
    }
  }
  
  @media only screen and (max-width: $breakpoint-sm) {
    width: 100%;
    justify-content: flex-start;
    gap: 2rem;
    .buttons {
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      a{
        font-size: .9rem;
        padding: 0.4rem 1rem;
      }
    }
  }
}